.button-as-text {
    background: none;
    border: none;
}
.center-li {
    display: flex;
    align-items: center;
}
.page-content {
    width: 95%;
    margin: 20px;
    margin-top: 30px;
}

.form-content {
    margin-top: 30px;
}

.table-content {
    margin-top: 30px;
}

.button-space {
    margin-left: 5px;
    margin-right: 5px;
}