<html>
  <head>
    <title>Flexbox 3</title>
    <link rel="stylesheet" href="flexbox3.css" />
  </head>
  <body>
    <header>
      <h1>Sample flexbox example</h1>
    </header>
    <section>
      <article>
        <h2>O Sistema Solar</h2>
        <p>
          O Sistema Solar compreende o conjunto constituído pelo Sol e todos os
          corpos celestes que estão sob seu domínio gravitacional. A estrela
          central, maior componente do sistema, respondendo por mais de 99,85%
          da massa total,[5] gera sua energia através da fusão de hidrogênio em
          hélio, dois de seus principais constituintes. Os quatro planetas mais
          próximos do Sol (Mercúrio, Vênus, Terra e Marte) possuem em comum uma
          crosta sólida e rochosa, razão pela qual se classificam no grupo dos
          planetas telúricos ou rochosos. Mais afastados, os quatro gigantes
          gasosos, Júpiter, Saturno, Urano e Netuno, são os componentes de maior
          massa do sistema logo após o próprio Sol.
        </p>
      </article>
      <article>
        <h2>O Sistema Solar</h2>
        <p>
          O Sistema Solar compreende o conjunto constituído pelo Sol e todos os
          corpos celestes que estão sob seu domínio gravitacional. A estrela
          central, maior componente do sistema, respondendo por mais de 99,85%
          da massa total,[5] gera sua energia através da fusão de hidrogênio em
          hélio, dois de seus principais constituintes. Os quatro planetas mais
          próximos do Sol (Mercúrio, Vênus, Terra e Marte) possuem em comum uma
          crosta sólida e rochosa, razão pela qual se classificam no grupo dos
          planetas telúricos ou rochosos. Mais afastados, os quatro gigantes
          gasosos, Júpiter, Saturno, Urano e Netuno, são os componentes de maior
          massa do sistema logo após o próprio Sol.
        </p>
      </article>
      <article>
        <div>
          <button>Smile</button>
          <button>Laugh</button>
          <button>Wink</button>
          <button>Shrug</button>
        </div>
        <div>
          <button>Blush</button>
        </div>
        <div>
          <p>
            O Sistema Solar compreende o conjunto constituído pelo Sol e todos
            os corpos celestes que estão sob seu domínio gravitacional. A
            estrela central, maior componente do sistema, respondendo por mais
            de 99,85% da massa total,[5] gera sua energia através da fusão de
            hidrogênio em hélio, dois de seus principais constituintes.
          </p>
          <p>
            Os quatro planetas mais próximos do Sol (Mercúrio, Vênus, Terra e
            Marte) possuem em comum uma crosta sólida e rochosa, razão pela qual
            se classificam no grupo dos planetas telúricos ou rochosos. Mais
            afastados, os quatro gigantes gasosos, Júpiter, Saturno, Urano e
            Netuno, são os componentes de maior massa do sistema logo após o
            próprio Sol.
          </p>
        </div>
      </article>
    </section>
  </body>
</html>
