<html>
  <head>
    <title>Flexbox 0</title>
    <link rel="stylesheet" href="flexbox0.css" />
  </head>
  <body>
    <header>
      <h1>Sample Flexbox Example</h1>
    </header>
    <section>
      <article>
        <h2>Rust Programming Language 1</h2>
        <p>
          Welcome to The Rust Programming Language, an introductory book about
          Rust. The Rust programming language helps you write faster, more
          reliable software. High-level ergonomics and low-level control are
          often at odds in programming language design; Rust challenges that
          conflict. Through balancing powerful technical capacity and a great
          developer experience, Rust gives you the option to control low-level
          details (such as memory usage) without all the hassle traditionally
          associated with such control.
        </p>
      </article>
      <article>
        <h2>Rust Programming Language 2</h2>
        <p>
          Welcome to The Rust Programming Language, an introductory book about
          Rust. The Rust programming language helps you write faster, more
          reliable software. High-level ergonomics and low-level control are
          often at odds in programming language design; Rust challenges that
          conflict. Through balancing powerful technical capacity and a great
          developer experience, Rust gives you the option to control low-level
          details (such as memory usage) without all the hassle traditionally
          associated with such control.
        </p>
      </article>
      <article class="terceiro">
        <h2>Rust Programming Language 3</h2>
        <p>
          Welcome to The Rust Programming Language, an introductory book about
          Rust. The Rust programming language helps you write faster, more
          reliable software. High-level ergonomics and low-level control are
          often at odds in programming language design; Rust challenges that
          conflict. Through balancing powerful technical capacity and a great
          developer experience, Rust gives you the option to control low-level
          details (such as memory usage) without all the hassle traditionally
          associated with such control.
        </p>
      </article>
    </section>
  </body>
</html>
